<nav id='menu' class='menu'>
<div id='menucontainer'>
<span id='rectangle'></span>
<span id="title" class="linkset">
  <ul>
    <li>Design | Direction</li>
    <li>By <strong><a href="/">Liad Baniel</a></strong></li>
    <li id='copyright'><strong><a href="/about/services-clients">&#169;</a></strong></li>
  </ul>
</span>
<span class='divider'></span>
<span id="design" class="linkset">
  <ul>
    <li class="titlelink">Design - Streaming</li> 
    <li><a href="/design-streaming/selected-work">Selected Work</a></li>
    <li><a href="/design-streaming/logos-identities">Logos &amp; Identities</a></li>
  </ul>
</span>
<span class='divider'></span>
<span id="direction" class="linkset">
<ul>
  <li class="titlelink">Direction - Branding Projects</li>
  <li><a href="/direction-branding-projects/lincoln-center">Lincoln Center</a></li>
  <li><a href="/direction-branding-projects/international-art-fair">International Art Fair</a></li>
  <li><a href="/direction-branding-projects/national-academy-museum">National Academy Museum</a></li>
  <li><a href="/direction-branding-projects/good-housekeeping">Good Housekeeping</a></li>
</ul>
</span>
</div>
<span class='divider'></span>
<span id="about" class="linkset">
  <ul>
    <li class="titlelink">About</li>
    <li><a href="/about/services-clients">Services | Clients</a></li>
    <li><a href="/about/inspiration-blog">Inspiration | Blog</a></li>
    <strong><li id="contact"><a href="/about/services-clients">Contact</a></li></strong>
  </ul>
</span>


</nav>
</header>
